body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfcbd9;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    /* display: none; */
    text-decoration: none;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.featured {
    padding: 40px;
    text-align: center;
}

.item {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 200px;
    background-color: white;
    border-radius: 60px 10px;
}

.item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}
